@charset 'utf-8';
@import 'bootstrap_vars';
// need to import only needed things next
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.panel {
  background: linear-gradient(#03108F, #000);
  border: 3px solid #fff;
  border-radius: $border-radius-base;
  border-style: ridge;
  margin-bottom: 5px;
}
